{% extends "base.html.twig" %}
{% block title %} {{ parent() }}utilisateur{% endblock %}
{% block contenu %}

<h1><a href="index.php?page=utilisateur"></a></h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for u in liste %}
            <tr><td>{{u.email}}</td><td>{{u.nom}}</td><td>{{u.prenom}}</td><td>{{u.libellerole}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}